<div class="row">
    <div class="col-md-12">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>{{recipe.name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">To shopping list</a></li>
              <li><a class="dropdown-item" href="#">Edit recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h6>{{'Description'}}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h6>{{'Ingredients'}}</h6>
    </div>
</div>