<h1>Welcome to {{ hotelName }}</h1>

<!-- ---- bindings ---- -->
<!-- number of rooms:
<div [innerText]="numberOfRooms"></div>

<button (click)="addRoom()">Add Room</button>

<div [hidden]="hideRooms">rooms</div>
<button (click)="toggleRooms()">Toggle Rooms</button> -->

<!-- ---- directives ---- -->
<div *ngIf="rooms.availableRooms > 0">
  Rooms List :

  <table>
    <tr>
        <th>Sr No.</th>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>CheckIn Time</th>
      <th>Photos</th>
    </tr>
    <tr *ngFor="let room of roomList; let i=index" >
        <td>{{i+1}}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.roomPrice }}</td>
      <td>{{ room.checkInTime }}</td>
      <td>
        <img src="{{ room.photo }}" alt="room photo" width="100" height="100" />
      </td>
    </tr>
  </table>
</div>
