<h1 [innerText]="hotelName" ></h1>

<div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'red' }" [innerText]="rooms.availableRooms"></div>

<!-- ---- bindings ---- -->
<!-- number of rooms:
<div [innerText]="numberOfRooms"></div>

<button (click)="addRoom()">Add Room</button>

<div [hidden]="hideRooms">rooms</div>
<button (click)="toggleRooms()">Toggle Rooms</button> -->

<!-- ---- directives ---- -->
<div *ngIf="rooms.availableRooms > 0">
  Rooms List :
  <app-room-list [rooms]="roomList"
  (roomSelected)="SelectRoom($event)"
  ></app-room-list>
</div>
