<h1>App component</h1>
<div *ngFor="let user of dataList">
  {{user.name | uppercase }} - {{user.email |uppercase}}
  <hr>
</div>
<P>{{""}}</P>
<hr>
<!-- <app-form (userAdded)="handleUserAdded($event)" [dataList]="dataList">
</app-form> -->
<!-- <app-if-else></app-if-else> -->
<!-- <app-else-if></app-else-if> -->
<!-- <app-switch></app-switch> -->
<!-- <app-for-loop></app-for-loop> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-header></app-header> -->
<!-- <app-form2></app-form2> -->
<!-- <app-toggle></app-toggle> -->
<!-- <app-material-ui></app-material-ui> -->
<!-- <app-to-do></app-to-do> -->
<!-- <app-parent-to-child>   </app-parent-to-child> -->
<!-- <app-child-to-parent></app-child-to-parent> -->
<!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<app-custom-directive></app-custom-directive>
```